Business_mail_writing_agent.json
{
  "name": "Business mail writing agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional business email to a company based on the title and description provided below. The tone should be formal, respectful, and clear. The email should introduce the sender (if applicable), mention the purpose of the message, and include any relevant details from the description. Ensure the message is concise and suitable for a business context.\n\nTitle:{{ $json['Busniness Name'] }} \nDescription:{{ $json.Description }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        560,
        -120
      ],
      "id": "389941e2-937a-4884-9646-df3ea1573ef3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        160
      ],
      "id": "8975ca65-b4c4-4ae6-9f31-05dd5b95fdd0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BHZrzZiiDG4IlO6K",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw",
          "mode": "list",
          "cachedResultName": "Business Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        120,
        -100
      ],
      "id": "9661c3a0-0d0b-4bbe-b58b-f4ae439e8ed7",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "7K0l7in4Jlmc7sOT",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tayyabatiff@gmail.com",
        "subject": "business",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        -120
      ],
      "id": "575335b7-123a-48aa-a28c-951762a39318",
      "name": "Gmail",
      "webhookId": "e9693c6d-e204-40bd-9b46-8d39a513e63b",
      "credentials": {
        "gmailOAuth2": {
          "id": "mpR41gCWjDpEDTlc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw",
          "mode": "list",
          "cachedResultName": "Business Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UZHwRWPPBgv3FXc4JSmZXRW3lfHF7ALbAnlo6JQtfbw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent",
            "row_number": "={{ $json['Index Number'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Busniness Name",
              "displayName": "Busniness Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Addresses",
              "displayName": "Email Addresses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        -120
      ],
      "id": "652a6942-d62a-4802-b226-c4bc9ddf50c1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fOrhrWWfpmuDdpLZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const V = $('Google Sheets Trigger').first().json['Index Number'];\n\nreturn $input.all().map(item => {\n  item.json['Index Number'] = V+1;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -180
      ],
      "id": "acc1dee9-cb25-468f-9970-64746a52bce1",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61d30994-4826-482e-84fc-102ec6a31c59",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Sent",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        -100
      ],
      "id": "dcbb43e3-c58e-4b80-ac17-04840fe108f1",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        280,
        180
      ],
      "id": "9572bab3-ef7c-4d91-92aa-119d2ba40932",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        540,
        280
      ],
      "id": "a520c0c9-8a6a-4f59-998a-9c3ca910b22c"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "850f5795-2ac4-4719-a56c-2661fc489b87",
  "meta": {
    "instanceId": "c3c3339403e77b7c7411d588acd1f4f06b66e516afc13c8cc14da5d9610296cf"
  },
  "id": "ggEmEkFK7X5AidnF",
  "tags": []
}